* {
    max-width: 100%;
    max-height: 100%;
    margin: 0; 
    padding: 0;
}

#img {
    width: 100%;
    height: 40vh;
}

.titre {
    text-align: center;
    font-size: 45px;
}

.text {
    text-align: center;
    font-size: 20px;
}

article {
    height: 100vh;
}

.bas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 59vh;
}